extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/questions.js' type='module' defer)

block content
    div(class='errors-container')

    div(class='containAllAnswers')
        div(class='tagsContainer')

        div(class='questionsContainer questions')
          a(href=`/answers/${question.id}`)
            p(class='home-questions')= question.content
        div(class='userNameContainer')
          div(class='username')
            label(name='username' class='usernameText')= question.User.username
        div(class='buttonsContainer')

            form(method='post' action='/answers/upvote/question')
                span(id='question-upvote-count')= questionUpvote.value
                input(type='hidden' name='questionId' value=question.id)
                input(type='hidden' name='userId' value=user.id)
                button(id=`upvote-${question.id}` type='submit'  class=`upvote-question-button-${voted}`) 👍


    fieldset(class='containAll' id='answers')
        h2 Answers:
        div
            each answer in answers

                div(class="answerContentContainer")
                    //- div(name= answer.User.username)= answer.User.username
                    div(name= `answer-${answer.User.username}` class=("answerContent"))
                        p= answer.content
                        div(name= answer.User.username class="answerUsername")= answer.User.username
                    div(id=`comments-buttons-${answer.id}`)
                        button(id=`showComments-${answer.id}` class='showComment-button') Show Comments
                    div(class=`current-comment-container-${answer.id} --hidden` id=`${answer.id}`)
                        each comment in comments
                            if comment.answerId === answer.id
                                div(class="commentContent") 
                                    div(class="content")= comment.content
                                    div(class="username")= comment.User.username
                    div(class=`new-comment-container-${answer.id} --hidden`)
                        form(method="post" action=`/answers/${answer.id}/comments`)
                            textarea(name="content")
                            input(type="hidden")
                            button(type="submit") Post Comment

            div
                form(method='post' action='/answers')
                    div(class="newAnswer")
                        label(for='content')
                        textarea(name='content', id="answerField" class="answer" cols='100', rows='10' type='text' required)
                        input(type="hidden" name='questionId' value= questionId)
                    div(class="buttonsContainer")
                        button(type='submit', id="postAnswer") Post Answer
    //- div
    //-     form(method='get' action='/')
    //-         button(type='submit') Return to Home
