extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/questions.js' type='module' defer)

block content
    div(class='errors-container')
    
    div(class='containAll')
        div(class='tagsContainer')
          each tag in question.Tags
            a(href=`tags/${tag.id}` name='tag' class='tags')= tag.name
        div(class='questionsContainer')
          a(href=`/answers/${question.id}`)
            p(class='home-questions')= question.content
        div(class='userNameContainer')
          div(class='username')
            label(name='username' class='usernameText')= question.User.username
        div(class='buttonsContainer')
      
            form(method='post' action='/answers/upvote/question')
                span(id='question-upvote-count')= questionUpvote.value
                input(type='hidden' name='questionId' value=question.id)
                input(type='hidden' name='userId' value=user.id)
                button(id=`upvote-${question.id}` type='submit'  class='upvote-question-button') 👍
        

    fieldset(class='containAll' id='answers')
        h2 Answers:
        div
            each answer in answers

                div
                    div(name= answer.User.username)= answer.User.username
                    div(name= `answer-${answer.User.username}`)
                        p= answer.content
                    div(id=`comments-buttons-${answer.id}`)
                        button(id=`showComments-${answer.id}` class='showComment-button') Show Comments
                        button(id=`hideComments-${answer.id}` class='hideComment-button --hidden') Hide Comments
                    div(class=`current-comment-container-${answer.id}`)
                    div(class=`new-comment-container-${answer.id}`)
            div
                form(method='post' action='/answers')
                    div
                        label(for='content')
                        textarea(name='content', cols='100', rows='10' type='text' required)
                        input(type="hidden" name='questionId' value= questionId)
                    div
                        button(type='submit') Post Answer
    div
        form(method='get' action='/')
            button(type='submit') Return to Home
