extends layout

append head
  //- add page specific styles by appending to the head

  link(rel="stylesheet" href="/stylesheets/reset.css")
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/questions.js' type='module' defer)


block content

  div(id='background-images' class='containAll')
    div
      h2(class='theme') Select Theme
    div(id='/images/renaissance.png' class='background-image --clicked') Renaissance
    div(id='/images/dark-ages.jpg' class='background-image' ) Dark Ages
    div(id='/images/ancient.png' class='background-image' ) Ancient
    div(id='/images/enlightenment.png' class='background-image' ) Enlightenment
    div(id='/images/us-history.jpeg' class='background-image' ) U.S. History
    div(id='/images/bronze-age.jpg' class='background-image' ) Bronze Age
    div(id='/images/world-war-1.jpg' class='background-image' ) World War I
    div(id='/images/world-war-2.png' class='background-image' ) World War II

  div(class='searchBar')
    div(class='searchContainer')
      form(method='post' action='/search/tags' class='tagSearch')
            div(class='searchContainer2')
                h2 Select Topic

            each tag in Tags
                div(class='searchContainer2')
                  input(type='checkbox' name=tag.name value=tag.id)
                  label(class='tagLabel')= tag.name

            div(class='searchContainer2')
                button(type='submit') Search Topics
                input(type='hidden' name='_csrf' value=csrfToken)


  if user

    div(class='containAll welcome')
      div(class='opening')
        p(class='greeting') Welcome to QHistory, #{user.username}!
      form(method='get' action='/questions')
        div(class='opening')
          button(type='submit') Ask A Question


  else
    div(class='containAll welcome')
      div(class='opening')
        p(class='greeting') Welcome to QHistory!
      form(method='get' action='/questions')
        div(class='opening')
          button(type='submit') Ask A Question

  include utils.pug

  each question in questions
    div(class='containAll')
      div(class='tagsContainer')
        each tag in question.Tags
          a(href=`tags/${tag.id}` name='tag' class='tags')= tag.name
      div(class='questionsContainer')
        a(href=`/answers/${question.id}`)
          p(class='home-questions')= question.content
      div(class='userNameContainer')
        div(class='username')
          label(name='username' class='usernameText')= question.User.username
      div(class='buttonsContainer')
        if user
          if user.id===question.userId
            button(id=`edit-${question.id}` type='button' class= 'edit-button') Edit
            button(id=`delete-${question.id}` type='button' class= 'delete-button') Delete
            button(id=`answer-${question.id}` type='button' class= 'answer-button') Answers
          else
            button(id=`answer-${question.id}` type='button' class= 'answer-button') Answers
        else
          button(id=`answer-${question.id}` type='button' class= 'answer-button') Answers


block footer
  div(class='footer') Copyright (c)
    link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
    span(class='about-links') Connor Henderson
      a(href="https://cch41.github.io/" target="_blank")
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/78612354?v=4")
      a(class="fab fa-github" href="https://github.com/cch41" target="_blank")
      a(class="fab fa-linkedin" href="https://www.linkedin.com/in/connor-henderson-833504123/" target="_blank")
    span(class='about-links') Jia Li
      a(href="https://jjiiaali.github.io/" target="_blank")
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/77854091?v=4")
      a(class="fab fa-github" href="https://github.com/jjiiaaLi " target="_blank")
      a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jia-li-2829b140/" target="_blank")
    span(class='about-links') John Sims
      a(href="https://www.devjohnsims.com/" target="_blank")
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/74082034?v=4")
      a(class="fab fa-github" href="https://github.com/simzeee" target="_blank")
      a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jwsims/" target="_blank")
    span(class='about-links' ) Nick Kury
      a(href="https://nickkury.github.io/" target="_blank")
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/75050631?v=4" )
      a(class="fab fa-github" href="https://github.com/NickKury" target="_blank")
      a(class="fab fa-linkedin" href="https://www.linkedin.com/in/nick-kury-011840213/" target="_blank")
//- block footer
//-   div(class='footer') Copyright (c)
//-     link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
//-     span(class='about-links') Connor Henderson
//-       img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/78612354?v=4")
//-       a(class="fab fa-github" href="https://github.com/cch41")
//-       a(class="fab fa-linkedin" href="https://www.linkedin.com/in/connor-henderson-833504123/")
//-     span(class='about-links') Jia Li
//-       img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/77854091?v=4")
//-       a(class="fab fa-github" href="https://github.com/jjiiaaLi ")
//-       a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jia-li-2829b140/")
//-     span(class='about-links') John Sims
//-       img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/74082034?v=4")
//-       a(class="fab fa-github" href="https://github.com/simzeee")
//-       a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jwsims/")
//-     span(class='about-links') Nick Kury
//-       img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/75050631?v=4")
//-       a(class="fab fa-github" href="https://github.com/NickKury")
//-       a(class="fab fa-linkedin" href="https://www.linkedin.com/in/nick-kury-011840213/")
