extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/questions.js' type='module' defer)


block content
  
  if user
    div(class='opening')
      p(class='greeting') Welcome to MyQuery, #{user.username}!
      form(method='post' action='/users/logout')
    div
        button(type='submit') Log Out

  else
   div(class='opening')
    p(class='greeting') Welcome to MyQuery!
  div(class='opening')
    a(href='/users/register') Register
  div(class='opening')
    a(href='/users/login') Login

  form(method='get' action='/questions')
    div(class='opening')
      button(type='submit') Add New Question

  include utils.pug

  each question in questions
    div
      label(name='username')= question.User.username
    div
      each tag in question.Tags
        a(href=`tags/${tag.id}` name='tag')= tag.name
    div(class='questionsContainer')
      a(href=`/answers/${question.id}`)
        p(class='home-questions')= question.content
    div(class='buttonsContainer')
      button(id=`edit-${question.id}` type='button' class= 'edit-button') Edit
      button(id=`delete-${question.id}` type='button' class= 'delete-button') Delete
      button(id=`answer-${question.id}` type='button' class= 'answer-button') Answers
