extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src='/javascripts/questions.js' type='module' defer)


block content
  form(method='post' action='/search/keyword')
    div 
      input(type='text' name='searchBar' placeholder='Search...')
      button(type='submit') Search Keyword
      input(type='hidden' name='_csrf' value=csrfToken)
  
  if user
    p Welcome to History Quora, #{user.username}!
    a(href='/search') Search
    form(method='post' action='/users/logout')
      div
        button(type='submit') Log Out

  else
    p Welcome to History Quora!
    a(href='/search') Search
    div
      a(href='/users/register') Register
    div
      a(href='/users/login') Login

  form(method='get' action='/questions')
      button(type='submit') Add New Question

  include utils.pug

  each question in questions
    div
      label(name='username')= question.User.username
    div
      each tag in question.Tags
        a(href=`tags/${tag.id}` name='tag')= tag.name
    div
      a(href=`/answers/${question.id}`)
        p= question.content
      button(id=`edit-${question.id}` type='button' class= 'edit-button') Edit
      button(id=`delete-${question.id}` type='button' class= 'delete-button') Delete
      button(id=`answer-${question.id}` type='button' class= 'answer-button') Answers
    div 
      form(method='post' action='/search/tags')
            div 
                h2 Please Select From These Available Topics 
            
            each tag in Tags 
            
                input(type='checkbox' name=tag.name value=tag.id)
                label= tag.name
            
            div 
                button(type='submit') Search Tags
                input(type='hidden' name='_csrf' value=csrfToken)
      
